* {
  /* Reset */
  padding: 0;
  margin: 0;

  /* Variáveis */
  --cor-caixa: #F0E8C2;
  --cor-titulos: #1C2614;
  --cor-corpo-de-texto: #0D0C00;
}

html {
  background-image: url(assets/img-fundo.jpg);
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: var(--cor-corpo-de-texto);
}

main {
  box-sizing: border-box;
  width: 35%;
  background-color: var(--cor-caixa);
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

#sobre {
  display: flex;
  flex-direction: column;
}

section img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

h1, h2 {
  font-family: "Caveat Brush", cursive;
  padding: 0.8rem 0;
  color: var(--cor-titulos);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
}

#horarios li {
  list-style: inside;
}

#redes {
  display: flex;
}

ion-icon {
  font-size: 20px;
  margin-right: 0.5rem;
  color: #69735A;
}

#redes ion-icon {
  font-size: 30px;
}

.flex-container {
  display: flex;
  margin-bottom: 10px;
}